.AboutmeContentContainerone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    overflow-x: hidden;
    padding: 1rem;
}

.Aboutmefirstarea {
    flex: 1;
    margin-right: 2rem;
}

.AboutmeSecondarea {
    flex: 1;
    margin-right: 2rem;
}

.AboutmeTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.AboutmeDescription {
    font-size: 0.9rem;
    line-height: 1.5;
}

.AboutmeImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.AboutmeImageWrapper {
    width: 22em;
    height: 22em;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.AboutmeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AboutmeContentContainertwo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;
}

.AboutmeContentContainerThree {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;
}

.AboutmeThirdarea {
    flex: 1;
}

.AboutmeFourtharea {
    flex: 1;
}

.Aboutmeskillsleft {
    font-size: 1rem;

    font-weight: 700;
text-align: left;
    letter-spacing: 4px;

    color: #ff7a1a;

    text-transform: uppercase;
}

.Aboutmeskillsright {
    width: 100%;
}

.AboutmeFourtharea {
    flex: 3;
}















.experience-item {
    position: relative;

    display: flex;

    justify-content: space-between;

    gap: 2rem;

    padding-bottom: 3rem;
}

/* DOT */
.experience-item::before {
    content: "";

    position: absolute;

    left: -2rem;
    top: 8px;

    width: 10px;
    height: 10px;

    border-radius: 50%;

    background: #d8d8d8;
}

/* ACTIVE DOT */
.experience-item.active::before {
    background: #ff7a1a;
}

/* LEFT CONTENT */
.experience-left h3 {
    margin: 0;
    text-align: left;
    font-size: 1.5rem;

    font-weight: 700;

    color: #1d1d1d;
}

.experience-left span {
    font-weight: 400;

    color: #777;
}

.experience-left p {
    margin-top: 0.5rem;
    text-align: left;
    color: #b0b0b0;

    font-size: 0.95rem;

    line-height: 1.6;
}

/* RIGHT DATE */
.experience-date {
    white-space: nowrap;

    color: #8a8a8a;

    font-size: 1rem;

    margin-top: 0.3rem;
}

/* Education list spacing */
.education-list .list-group-item {
    margin-bottom: 1rem;
    border: 1px solid #e9e9e9;
}

.education-list .list-group-item strong {
    display: block;
    margin-bottom: 0.5rem;
}

.education-item {
   position: relative;

    display: flex;

    justify-content: space-between;

    gap: 2rem;

    padding-bottom: 3rem;
}

/* DOT */
.education-item::before {
    content: "";

    position: absolute;

    left: -2rem;
    top: 8px;

    width: 10px;
    height: 10px;

    border-radius: 50%;

    background: #d8d8d8;
}

/* ACTIVE DOT */
.education-item.active::before {
    background: #ff7a1a;
}   

/* LEFT CONTENT */
.education-left h3 {
    margin: 0;
    text-align: left;
    font-size: 1.5rem;

    font-weight: 700;

    color: #1d1d1d;
}

.education-left span {
    font-weight: 400;

    color: #777;
}
.education-left p {
    margin-top: 0.5rem;
    text-align: left;
    color: #b0b0b0;

    font-size: 0.95rem;

    line-height: 1.6;
}   

/* RIGHT DATE */
.education-date {
    white-space: nowrap;

    color: #8a8a8a;

    font-size: 1rem;

    margin-top: 0.3rem;
}
