.nav-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1vh;
    z-index: 999;
    width: fit-content;
}

.nav-background {
    position: relative;
    width: 25rem;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    margin: 1em;
}

.nav-background::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 2px;
    background: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red);
    --angle: 0deg;
    animation: rotate 20s linear infinite;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0%;
}

.nav-item {
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(92, 92, 92, 0.1);
    margin: 0.7em;
}

.nav-item.active a {
    color: #14b8a6;
    text-shadow: 0 2px 4px rgba(136, 136, 136, 0.3);
    image-rendering: crisp-edges;
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}

.theme-toggle {
    padding: 0%;
}





/* ====== RESPONSIVE TWEAKS ====== */


@media (max-width: 600px) {
    .nav-background {
        width: auto;
        border-radius: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        position: static;
    }

    .nav-container {
        margin: 0.5rem;
    }
}

@media(max-width: 600px) {

    .nav-background::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        padding: 2px;
        background: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red);
        --angle: 0deg;
        animation: rotate 20s linear infinite;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }


}